<!doctype html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <!-- pour le responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container">
    <header class="row">
      <div class="visible-lg col-lg-12">Logo
      </div>
      <div class="row">
        <div class="hidden-lg col-lg-12">mini logo</div> 
        <div class="col-lg-1 col-md-2">Edition</div>
        <div class="col-lg-2 col-md-2">date</div>
        <div class="col-lg-2 col-lg-push-5">LOG IN</div>
        <div class="col-lg-2 col-lg-push-5">SUBSCRIBE
        </div>
      </div>
  </div>
</div>
</header>
<section>
  <div class="col-lg-7 col-lg-push-1">
    Img
  </div>
  <liste class="col-lg-3">
    Liste
  </Liste>
</section>
</div>
</body>
</html>